 .rings{
    &_container{
      position: absolute;
      top:var(--top);
      left:var(--left);
      bottom:var(--bottom);
      right:var(--right);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index:-1;
    }  
  border: 20px solid var(--secondaryWhite);
  opacity: 0.7;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  height:var(--size);
  width:var(--size);

  }