.home{
  position: relative;
  &_heading{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 38px;
    color:black;
    padding-left: 20px;
    z-index: 1;
    position: relative;
    background-color: transparent;

  }


  &_slides{
    height: 60vh;
    max-height: 800px;
    margin-top: 20px;
    margin-bottom: 55px;
  }

  
  
}


